
<%= simple_form_for(@team) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :designation %>
    <%= f.input :image_token ,label: "Image", as: :file, input_html: { name: 'image_name' }  %>
   
    <%= f.input :fb_link %>
    <%= f.input :instagram_link %>
    <%= f.input :linked_in %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
