<p id="notice"><%= notice %></p>

<h1>Teams</h1>

<table class="table table-striped table-bordered table-hover ">
  <thead>
    <tr>
      <th>Name</th>
      <th>Designation</th>
      <th>Fb link</th>
      <th>Instagram link</th>
      <th>Linked in</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= team.designation %></td>
        <td><%= team.fb_link %></td>
        <td><%= team.instagram_link %></td>
        <td><%= team.linked_in %></td>
        <td>
        <%= link_to 'Show', team ,class: 'btn btn-success'%>
        <%= link_to 'Edit', edit_team_path(team),class: 'btn btn-info' %>
        <%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_team_path ,class: 'btn btn-primary'%>
