<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @team.designation %>
</p>

<p>
  <strong>Image :</strong>
  <%=image_tag @teamimage %>
</p>

<p>
  <strong>Fb link:</strong>
  <%= @team.fb_link %>
</p>

<p>
  <strong>Instagram link:</strong>
  <%= @team.instagram_link %>
</p>

<p>
  <strong>Linked in:</strong>
  <%= @team.linked_in %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
