<%if(@b1 || @b2 || @b3)%>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><%= @b1%></h2>
        <%if( @b2 || @b3)%>
        <ol class="breadcrumb">
            <li>
                <a href="<%= url_for :controller => 'dashboards', :action => 'dashboard_1' %>">Home</a>
        </li>
        <% if(@b2)%>
        <li>
            <a><%= @b2%></a>
        </li>
        <%end%>
        <li class="active">
            <strong><%= @b3%></strong>
        </li>
    </ol>
    <%end%>
    </div>
</div>
<%end%>