<p id="notice"><%= notice %></p>

<h1>Clients</h1>

<table class="table table-striped table-bordered table-hover ">
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.url %></td>
        <td><%= client.description %></td>
        <td>
        <%= link_to 'Show', client,class: 'btn btn-success' %>
        <%= link_to 'Edit', edit_client_path(client),class: 'btn btn-info' %>
        <%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client', new_client_path,class: 'btn btn-primary' %>
