
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @clientimage %>
</p>

<p>
  <strong>Url:</strong>
  <%= @client.url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @client.description %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
