<p id="notice"><%= notice %></p>

<h1>Abouts</h1>

<table class="table table-striped table-bordered table-hover ">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @abouts.each do |about| %>
      <tr>
        <td><%= about.title %></td>
        <td><%= about.description %></td>
        <td>
        <%= link_to 'Show', about ,class: 'btn btn-success'%>
        <%= link_to 'Edit', edit_about_path(about) ,class: 'btn btn-info'%>
        <%= link_to 'Destroy', about, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New About', new_about_path ,class: 'btn btn-primary'%>
