
<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :link %>
  <%= f.input :image_token ,label: "Image", as: :file,:input_html => { :multiple => true ,name: 'image_name[]'}  %>
  

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
