<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table class="table table-striped table-bordered table-hover ">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Link</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.description %></td>
        <td><%= product.link %></td>
        <td>
        <%= link_to 'Show', product ,class: 'btn btn-success'%>
        <%= link_to 'Edit', edit_product_path(product) ,class: 'btn btn-info'%>
        <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } ,class: 'btn btn-danger'%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path ,class: 'btn btn-primary'%>
