<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Link:</strong>
  <%= @product.link %>
</p>

<p>
  <strong>Image :</strong>
   <% @productimage.each do |file| %>
  <%=image_tag file.image_name.url(:thumb).to_s %>
  <% end %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
